#profile-container {
	font: 17px "Tahoma";
}
#profile-container table {
	margin-top: 20px;
}
#profile-container table tr td {
	padding: 10px 5px;
}
#profile-picture-container {
	width: 230px;
	height: 230px;
	background: #fff;
	border-radius: 5px;
}
#profile-picture {
	width: 230px;
	height: 230px;
	overflow: hidden;
}
#profile-picture img {
	height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
#profile-picture-container button {
	margin: 2px;
}
#img-signature {
	width: 250px;
	height: 250px;
}
#profile-container table {
	max-width: 800px;
}