#employee-container {
	height: auto;
}
#table-employees {
	margin: 50px auto;
	z-index: 0;
}
#table-employees a {
	width: 80px;
	text-align: left;
}
.btn-view-profile {
	margin-top: 2px;
}

#search-container {
	margin-left: 10px;
}
#guides-container {
	margin-left: 10px;
	width: 300px;
	border: 1px solid #999;
	padding: 2px 10px;
	border-radius: 3px;
	float: right;
	margin: -100px 40px;
}
#guides-container li span {
	  color: #08c;
}
#guides-container li span:hover {
	cursor: pointer;
	text-decoration: underline;
}
.cbo-position {
	display: none;
}
#cbo-status {
	display: none;
}
.invalid {
	background: red;
}
#tr-view-employee-info:hover {
	background: #999;
}
.add-cont{
	padding: 0 10px;
}
.shift {
	cursor: pointer;
}
#modalShift {
	width: 800px;
}
#table-shift-detail {
	font: 18px Tahoma;
}
#table-shift-detail tr td {
	padding: 5px 10px;
}
#table-employees table th {
	cursor: pointer;
}

.datepicker{
	z-index: 1060 !important;
}
#additional-info-container {
	margin: 10px 10px;
}
.bootstrap-timepicker-widget  {
	z-index: 9999;
}
#additional-info-container input {
	width: 400px;
	height: 30px;
}
.contract:hover {
	cursor: pointer;
}
#contract-selections ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#contract-selections ul li button,#contract-selections ul li a{
	max-width:100px;
	display: block;
	line-height: 1.5;
}

#contract-selections li {
	padding: 2px 5px;
}
#contract-selections li button {
	margin: 0px auto;
	font: 10px "Trebuchet MS",sans-serif;
}
#contract-selections {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 80px;
	background: rgba(249, 249, 249, 0);
	border-radius: 2px;
	display: none;
}