@CHARSET "ISO-8859-1";
.profile-container{
	max-width:500px;
	margin:0 auto;
	padding: 5px 15px;
	box-shadow: 2px 2px 5px #919191;
}

.prof-table{
	display: table;
	max-width: 200px;
  	margin: 0 auto;
}
.box-shadow-cont{
	box-shadow: 2px 2px 5px #919191;
} 
.prof-img-cont{
  height: 200px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.contract-container{
	padding: 0 10px;
}
.img-cont {
	max-width: 150px;
	margin-bottom:15px;
}
.table-list-contracttbody tr:nth-child(even){
	background: #B2DFEA;
}

.table-list-contract tbody tr:nth-child(odd) {
	background: #FCFDCC;
}

.bg-padd p{
  margin: 3px 0;
  font-size: 13px;
  padding: 6px;
}
.paginate{
	height:60px;
	max-width:500px;
	display:block;
	margin:0 auto;
}
.disabled{
	display:none !important;
}
#img_preview{
	border: 1px solid;
}
#container {
	margin-top: 30px;
}#BrowseSignature{
	margin-right: 15px;
}
.list-group{
	  max-width: 280px;
	  border: 1px solid #333;
	  padding: 15px;
	  border-radius: 5px;
}

.list-group li{
	border-bottom: 1px solid #333;
	padding: 4px;
	list-style-type: none;
}
.text-muted{
	font-size: 16px;
}
.box-span{
	margin-top:10px;
	margin-bottom:10px;
}

.privilege-container{
  max-width: 700px;
  margin: 0 auto;
  padding: 5px 15px;
  box-shadow: 2px 2px 5px #919191;
}
.role-paginates{
	text-align:center;
}
.add-input{
	float: right;
}

.history-page{
	text-align:center;
}	
#Privlegelist{
	margin: 20px 0 0 0;

}
.sm-container{
	max-width:400px;
}
.md-container{
	max-width:800px;
}
.lg-container{
	max-width:1020px;
}

.roles-container{
  margin: 0 auto;
  padding: 5px 15px;
  box-shadow: 2px 2px 5px #919191;
}

.pagination {
	text-align: center;
}

.box-shadow{
	box-shadow: 2px 2px 5px #919191;
}

.side-well {
	
	background-color: #f5f5f5;
	min-height: 20px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	height: 100vh; 
	padding: 10px 15px;
}

.side-well .well {
	border: 0px;
}

.main-content {
	background-color: #fafafa;
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 60px;
}
.box-center{
	margin-left:auto;
	margin-right:auto;		
}
.layout-transparent{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  z-index: 9999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
}
.loading-gif{
	display: table-cell;
  	vertical-align: middle;
}
.loading-gif img{
  width: 70px;
  margin: 0 auto;
  display: block;
}
.detail-title, .detail-content, .detail-footer{
	  border-color: #333;
}
.detail-title h5, .detail-content h5, .detail-footer h5{
	color:#333;
}
